<footer>
  {% if next_page or previous_page %}
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      {% if next_page %}
        <a href="{{ next_page.url }}" class="btn btn-neutral float-right" title="{{ next_page.title }}">Next <span class="icon icon-circle-arrow-right"></span></a>
      {% endif %}
      {% if previous_page %}
        <a href="{{ previous_page.url }}" class="btn btn-neutral" title="{{ previous_page.title }}"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      {% endif %}
    </div>
  {% endif %}

  <hr/>

  <div role="contentinfo">
    <!-- Copyright etc -->
    {% if copyright %}
      <p>{{ copyright }}</p>
    {% endif %}
  </div>

  Peu de pàgina modificat >> afegir theme_dir: theme al yml, crear carpeta theme, afegir footer.html amb les dades que volguem al peu de pàgina</a>.
</footer>
